body{
    justify-content: center;
   height: 100%;
}
h1{
    text-align: center;
    color: rgb(37, 34, 34);
    font-weight: 30px;
}
.row{
    border-collapse: collapse;
    font-size: 2em;
}
button.hover{
   background-color: gray;
}
input.form-control{
    font-size: 15px;
    
}
input{
    margin: 6px;
    padding: 10px auto;
    border-color: royalblue;
}
body,div,form{
    padding:  0 10px 0 10px;
    margin: 10px 10px 10px 10px;
    outline: none;
    border-radius: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #666;
}
  
    .login {
        max-width: 440px; 
        min-height: 300px; 
        padding: 10px 0;
        margin: 50px auto;
        border-radius: 5px; 
        border: solid 1px #ccc;
        box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
        background: #ebebeb; 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        }
        p{
            text-align:  center;
            font-size: 20px;
        }